{
    "env": {
        "commonjs": true,
        "es6": true,
        "node": true,
        "jasmine": true,
        "jest/globals": true
    },
    "plugins": [
      "jasmine",
      "jest"
    ],
    "extends": [
      "standard",
      "plugin:jasmine/recommended"
    ],
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "indent": [
            "error",
            2,
            {
                "SwitchCase": 1,
                "VariableDeclarator": 2
            }
        ],
        "max-len": [
          "error",
          {
            "code": 120,
            "ignoreTrailingComments": true,
            "ignoreUrls": true,
            "ignoreStrings": true,
            "ignoreTemplateLiterals": true,
            "ignoreRegExpLiterals": true
          }
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "space-before-function-paren": [
            "error",
            {
                "anonymous": "always",
                "named": "never"
            }
        ],
        "no-console": "off",
        "no-tabs": "off",
        "eqeqeq": "off"
    }
}
